@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

:root {
    /* colors */

    --light-background: #f0f0f0;
    --light-background2: #fff;
    --light-text-primary: #1e2122;
    --light-text-secondary: #4e4e4e;

    /*dark*/
    --dark-background: #1e2122;
    --dark-background2: #282b2c;
    --dark-text-primary: #f0f0f0;
    --dark-text-secondary: #cecece;
    /*componets*/
    --blue: #007bff;
    --blue-hover: #0555ac;
    --green: #75f89180;
    --green-hover: #126424;
    --red: #f8bdbd7c;
    --red-hover: #ff2121;
    --yellow: #f3f58fbe;
    --yellow-hover: #c9cc11;
    /* Gap */
    --1x: 0.25rem;
    --2x: 0.5rem;
    --3x: 0.75rem;
    --4x: 1rem;
    --5x: 1.25rem;
    --6x: 1.5rem;
    --7x: 1.75rem;
    --8x: 2rem;
    --9x: 2.25rem;
    --10x: 2.75rem;
    --11x: 3rem;
    --12x: 3.25rem;
    --15x: 4rem;
    --16x: 4.25rem;
    --18x: 4.5rem;
    --20x: 5.5rem;

    /*font size */
    --little: 0.800rem;
    --small: 0.875rem;
    --medium: 1rem;
    --large: 1.25rem;
    --extra: 1.75rem;
    --title: 2.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out;
    font-family: "Inter", Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#timer {
    display: none;
    font-weight: bold; 
    
    padding: 5px 10px; 
    border-radius: 10px; 
    background-color: #666; 
    color: white; 
}
