* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    margin: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
}

#titulo1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-icons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    justify-content: end;
    
}

#playPauseButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
