body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-background);
}

header {
    background-color: var(--dark-background);
    color: var(--dark-text-primary);
    padding: 20px;
    text-align: center;
}

.top-icons {
    position: fixed;
    top: var(--8x);
    right: var(--8x);
    display: flex;
    gap: var(--3x);
}

.material-symbols-outlined {
    color: var(--dark-text-primary);
}

#playPauseButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#toggleThemeButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}


#result-title {
    position: sticky;
    top: 0;
}

.container-table {
    height: 350px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.result-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: #949292;
}

.result-table th {
    background-color: #022d5a;
    color: var(--light-background);
    padding: 10px;
}

.result-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.average {
    margin-top: 20px;
    text-align: center;
    background-color: var(--dark-background);
    margin: 0 10px;
}
.average #ok {
    color: green;
}
.average #not-ok {
    color: red;
}

.themes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.theme1, .theme2, .theme3 {
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    background-color: #949292;
    margin: 10px;
}

footer {
    background-color: var(--dark-background);
    color: #fff;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
}

footer button {
    background-color: #03478f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: #042344;
}
