<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/resultados.css" />
        <title>Resultados</title>
    </head>

    <body>
        <header>
            <h1 id="title1">Resultados</h1>
        </header>

        <main>
            <div class="container-table">
                <table class="result-table">
                    
                </table>
            </div>
            

            <div class="average">
                <p id="ok">Média de acertos: 6,5</p>
                <p id="not-ok">Média de erros: 4,2</p>
            </div>

            <div class="themes">
                <div class="theme">
                    <h2>CSS</h2>
                </div>
                <div class="theme2">
                    <h2>HTML</h2>
                    
                </div>
                <div class="theme3">
                    <h2>JavaScript</h2>
                    
                </div>
            </div>
        </main>

        <footer>
            <button type="button">Reiniciar Quiz</button>
            <script src="../js/script.js" type="module"></script>
        </footer>
    </body>
</html>
