<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/resultados.css" />
        <title>Resultados</title>
    </head>

    <body>
        <header>
            <h1 id="title1">Resultados</h1>
        </header>

        <main>
            <table class="result-table">
                <tr>
                    <th>Nome</th>
                    <th>Tema</th>
                    <th>Tempo</th>
                    <th>Data Quiz</th>
                    <th>Pontuação</th>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema X</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema Z</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema Y</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema X</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema Z</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Gabriel Braga</td>
                    <td>Tema Y</td>
                    <td>12:00</td>
                    <td>12/12/2012 12:00</td>
                    <td>8/10</td>
                </tr>
            </table>

            <div class="average">
                <p id="ok">Média de acertos: 6,5</p>
                <p id="not-ok">Média de erros: 4,2</p>
            </div>

            <div class="themes">
                <div class="theme">
                    <h2>Tema X</h2>
                    <ol>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                    </ol>
                </div>
                <div class="theme">
                    <h2>Tema Z</h2>
                    <ol>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                    </ol>
                </div>
                <div class="theme">
                    <h2>Tema Y</h2>
                    <ol>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                        <li>Gabriel Braga</li>
                    </ol>
                </div>
            </div>
        </main>

        <footer>
            <button type="button">Reiniciar Quiz</button>
        </footer>
    </body>
</html>
