<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="css/global.css">
</head>

<body>
    <header>

    </header>

    <main>
        <h1>Resultados</h1>

        <table>
            <tr>
                <th>Nome</th>
                <th>Tema</th>
                <th>Tempo</th>
                <th>Data Quiz</th>
                <th>Pontuação</th>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema X</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema Z</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema Y</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema X</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema Z</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>Gabriel Braga</td>
                <td>Tema Y</td>
                <td>12:00</td>
                <td>12/12/2012 12:00</td>
                <td>8/10</td>
            </tr>
        </table>


        <p>Média de acertos: 6,5</p>
        <p>Média de erros: 4,2</p>


        <h2>Tema X</h2>
        <ol>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
        </ol>


        <h2>Tema Z</h2>
        <ol>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
        </ol>


        <h2>Tema Y</h2>
        <ol>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
            <li>Gabriel Braga</li>
        </ol>

    </main>

    <footer>
        <button type="button">Reiniciar Quiz</button>
    </footer>
</body>

</html>